.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories{
    height: 150px;
    border: 1px;
    border-radius: 1em;
}
.categories img{
    height: 100px;
    
}
.panda-slide .carousel-item{
    background-color: #feeae9;
    border-radius: 1em;
}